body {
  background-color: #3B5799;
}
/* remove the default margins and paddings of the body element */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* center the calculator */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aqua;
}
.calculator {

  /* margin: 1rem 2rem;
  background-color: rgb(63, 63, 82); */
}
/* center the buttons and add some border radius */
div {
  display: flex;
  justify-content: space-between;
  background-color: rgb(24, 24, 32);
  border: 2px solid transparent;
  border-radius: 4px;
  margin: 5px;
}
input {
  font-size: 20px;
  width: 52px;
  margin: 1rem;
  border: 2px solid transparent;
  border-radius: 5px;
  box-shadow: 0 12px 18px 0 rgb(71, 69, 69);
}
.inputs input {
  color: black;
  font-size: 24px;
}
input button {
  font-size: 1rem;
}
form .display  {
  display: flex;
  justify-content: flex-end;
  margin: 4px 0px;
}
form .display input {
  font-size: 45px; 
  width: 190px;
  flex: 1;
  box-shadow: none;
  text-align: right;
  outline: none;
}
.operators {
  color: rgb(6, 95, 6);
}
.trignometry {
  color: rgb(0, 0, 0);
  font-weight: bolder;
}
@media {
  .container {
    max-width: 100%;
  }
}